<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">
        <a class="navbar-brand text-white" href="https://murithi.github.io">Murithi M'Inoti</a>
        <div class="collapse navbar-collapse justify-content-end blog-navbar" id="navbarNav">
            <a class=" nav-item nav-link active text-white" href="https://murithi.github.io/index.html">Home
                <span class="sr-only">(current)</span>
            </a>
            <a class="nav-item nav-link text-white" href="https://murithi.github.io/about.html">About Me</a>

            <a href="https://twitter.com/Amurithi " class="fa fa-twitter ">

            </a>
            <a href="https://www.linkedin.com/in/eric-murithi/ " class="fa fa-linkedin ">

            </a>
            <a href="https://github.com/Murithi " class="fa fa-github ">

            </a>
            <!-- <a href="#" class="fa fa-rss"></a> -->
        </div>
    </div>
</nav>