<nav class="navbar navbar-toggleable-sm navbar-light bg-primary fixed-top" id="navbarNav">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">
        <a class="navbar-brand text-white" href="https://murithi.github.io">Murithi M'Inoti</a>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav ">
                <a class=" nav-item nav-link active text-white" href="https://murithi.github.io/index.html">Home
                    <span class="sr-only">(current)</span>
                </a>
                <a class="nav-item nav-link text-white" href="https://murithi.github.io/about.html">About Me</a>

            </div>
        </div>
    </div>

</nav>