<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">
    <!--Fontawesome  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <!-- Font   -->
    <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
    <!-- Local CSS  -->
    <link rel="stylesheet" href="../main.css">
    <title>{{ page.title }}</title>
</head>

<body id="home" data-spy="scroll" data-target=".navbar">
    <!--nav  -->
    <nav class="navbar navbar-toggleable-sm navbar-light bg-primary fixed-top" id="navbarNav">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
            <a class="navbar-brand text-white" href="#">Eric Murithi</a>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav ">
                    <a class=" nav-item nav-link active text-white" href="#">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link text-white" href="#About">About</a>
                    <a class="nav-item nav-link text-white" href="#portfolio">Portfolio</a>
                    <a class="nav-item nav-link text-white" href="#resume">Resume</a>
                    <a class="nav-item nav-link text-white" href="/blog">Blog</a>
                    <a class="nav-item nav-link text-white" href="#contact">Contact</a>
                </div>
            </div>
        </div>

    </nav>
    <div class="container-fluid">

        {{ content }}

    </div>
    <!-- /.container -->

    <!--footer  -->
    <div class="row py-3 bg-primary">


        <div class="col-lg-12 text-center text-white">
            <small>&copy; 2017 by Eric Murithi</small>
        </div>
    </div>
    <!--/footer  -->
    </div>
    <!--/containe<footer>
        <ul>
            <li><a href="mailto:hankquinlanhub@gmail.com">email</a></li>
            <li><a href="https://github.com/hankquinlan">github.com/hankquinlan</a></li>
        </ul>
    </footer>
</body>

</html>r  -->
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js " integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n "
        crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js " integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb "
        crossorigin="anonymous "></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js " integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn "
        crossorigin="anonymous "></script>

</body>

</html>